.footer {
    min-height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 270px;
        background-color: $main-color;
        padding: 50px 53px 50px 54px;
    }
    &__address {
        margin-bottom: 36px;
        color: #FFFFFF;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }
    &__tel {
        display: block;
        margin-bottom: 36px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        text-decoration: none ;
        &:hover {
            color: #ffffff;
        }
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        img {
            height: 27px;
            width: 53px;
            height: 52px;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}