@media (max-width: 1200px) {
    
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 20px;
        }
    .button{ 
        &_main {
            width: 250px;
            height: 35px;
            font-size: 14px;
        }
    }
}
    .advantages {
        .title {
            font-size: 28px;
        }
    }
    .consultation {
     .title {
         &_consultation {
             font-size: 30px;
         }
         &__descr {
            font-size: 18px;
         }
     }
     .feed-form {
         width: 270px;
     }
}
    .carousel {
        &__inner {
            width: 650px;
        }
    }

    .catalog {
        .title {
            font-size: 30px;
        }
    }
    .feedback {
        .title {
            font-size: 30px;
        }
    }
}


@media (max-width: 992px) {
    .promo {
        min-height: 630px;
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 15px;
        }
    .button{ 
        margin-top: 5px;
        &_main {
            width: 250px;
            height: 35px;
            font-size: 14px;
        }
    }
}
    .advantages {
        &__wrapper {
            margin-top: 60px;
        }
        &__item {
            max-width: 230px;
        }
        &__subtitle {
            margin-top: 34px;
            font-size: 16px;
        }
        &__descr {
            margin-top: 24px;
            font-size: 14px;
    }

}
.consultation {
    .title {
        &_consultation {
            margin-left: 10px;
            font-size: 28px;
        }
        &__descr {
            margin-left: 10px;
            font-size: 16px;
        }
    }
    .feed-form {
        margin-left: 10px;
        width: 260px;
    }

}
.carousel {
    .carousel-cat {
        width: 800px;
    }
    padding: 75px 0;
    &__inner {
        width: 600px;
    }
    .prev, .next  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -55px;
        border: none;
        background-color: #fff;
        img {
            width: 27px;
            height: 40px;
        }
    }
    .next  {
        right: -55px;
        left: auto;
    }
    }
}
.catalog {
    .title {
        font-size: 28px;
    }
    &__tab {
        width: 205px;
        height: 48px;
        font-size: 16px;
    }
    &-item {
        width: 295px;
        min-height: 430px;
        margin-top: 50px;
        border: 2px solid #E8E8E8;
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        margin-bottom: 10px;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 190px;
        }
    }
    hr {
        background-color: #E8E8E8;
        margin-top: 15px;
        margin-bottom: 20px;
        border-bottom: none;
    }
    .button {
        &_mini {
        width: 120px;
        height: 40px;
        font-size: 14px;
        }
    } 
}
.feedback {
    .title {
        font-size: 28px;
    }
    &__item {
        margin-top: 60px;
    }
    &__img {
        width: 150px;
        height: 150px;
        }
    &__text {
        margin-left: 55px;
        margin-right: 55px;
    }
       
    }
.footer {
    min-height: 610px;
    &__info {
        height: 260px;
    }
    &__address {
        margin-bottom: 33px;
        font-size: 24px;
    }
    &__tel {
        margin-bottom: 33px;
        font-size: 18px;
    }
    &__social-item {
        img {
            height: 24px;
            width: 50px;
            height: 50px;
        }
    }
}


@media (max-width: 767px) {
    .promo {
        min-height: 600px;
        padding: 20px 20px 63px 20px;
        &__header {
            font-size: 24px;
            line-height: 22px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__link {
            margin-top: 15px;
            width: 195px;
            height: 20px;
        }
        &__icons {
            justify-content: center;
            align-items: center;
            margin-top: 45px;
            margin-bottom: 10px;
            width: 320px;
        }
        &__icon {
            width: 106px;
            font-size: 12px;
            line-height: 12px;
            img {
                width: 40px;
                margin-bottom: 15px;
            }
        }
    .button{
        width: 130px;
        margin-top: 5px;
        &_main {
            width: 195px;
            height: 30px;
            font-size: 12px;
        }
    }
    .header {
        &__official {
            font-size: 12px;
            span {
                margin-top: 10px;
            }
        }
        &__phone {
            font-size: 14px;
            line-height: 14px;
        }
        &__logo {
            width: 230px;
        }
    }
    
} 
    .advantages {
        .title {
            font-size: 24px;
        }
        &__wrapper {
            margin-top: 55px;
        }
        &__item {
            max-width: 200px;
            margin: 0 10px 0 10px;
        }
        &__icon {
            width: 65px;
        }
        &__subtitle {
            margin-top: 30px;
            font-size: 14px;
        }
        &__descr {
            margin-top: 24px;
            font-size: 12px;
        }
    }
    .consultation {
        min-height: 600px;
        padding: 80px 0 88px 0;
        .title {
            margin-left: 15px;
            font-size: 24px;
        }
        &__descr {
            margin-left: 15px;
            font-size: 18px;
        }
        .feed-form {
            margin-left: 15px;
            width: 240px;
        }
        .button {
            &_submit {
                width: 100%;
                height: 46px;
                font-size: 14px;
            }
        }
    }
    .carousel {
        .carousel-cat {
            width: 690px;
        }
        padding: 70px 0;
        &__inner {
            width: 690px;
            margin: 0 auto;
            img {
                width: 650px;
            }
        }
        .prev, .next  {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -35px;
            img {
                width: 20px;
                height: 30px;
            }
        }
        .next  {
            right: -35px;
            left: auto;
        }
    }
}
.catalog {
    .title {
        font-size: 24px;
    }
    &__tab {
        width: 190px;
        height: 40px;
        font-size: 14px;
        line-height: 35px;
    }
    &__content {
        margin: 50px 10px 0 10px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        width: 248px;
        min-height: 390px;
        margin-top: 25px;
        padding: 15px 15px 20px 15px;
        overflow: hidden;
        margin-bottom: 10px;
        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 180px;
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 14px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 12px;
        }
        &__link {
            margin-top: 20px;
            font-size: 12px;
            line-height: 12px;
        }

        hr {
            margin-top: 15px;
            margin-bottom: 20px;
            border-bottom: none;
        }
        .button {
            &_mini {
            width: 100px;
            height: 35px;
            font-size: 12px;
            }
        }
        &__old-price {
            font-size: 12px;
            line-height: 12px;
        }
        &__price {
            font-size: 16px;
            line-height: 16px;
        }
        &__list {
            position: relative;
            width: 50%;
            margin-left: 15px;
            transform: translateX(0%);
            padding-right: 15px;
            transition: 0.5s all;
            padding-left: 15px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-right: 5px;
            }
            li {
                position: relative;
                font-size: 12px;
                line-height: 12px;
                text-align: left;
                margin-bottom: 25px;
                &:before {
                    content: " ";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                    left: -12px;
                    top: 8px;
                }
            }
        }
        &__back {
            font-size: 12px;
        }
    }
    
}

